.HomePage {
    padding: 100px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 75px;
}

@media screen and (min-width: 660px) {

}

@media screen and (min-width: 960px) {
    
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1600px) {
    
}