.mattered {
    color: #e3493b;
}

.mattepurple {
    color: #6342f5
}

.mattegreen {
    color: #7be395
}

.matteyellow {
    color: #f5cb42
}

.matteblue {
    color: #00aeff
}

.mattelightblue {
    color: #3bcde3
}

.mattepink {
    color: rgb(234,36,128)
}

.black {
    color: black;
}