.DonationTextHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DonationText {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    
}

.DonationNonPic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.CharityImage {
    background-image: url(../../../assets/images/CharityIso.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    transform: scale(0.85);
}


.DonationHeaderText p{
    font-size: 45px;
    background: -webkit-linear-gradient(45deg, #ffce34, #ffe600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 30px;
    margin: 0px;
    font-weight: bold;
}

.DonationSubHeaderText p {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(0,0,75,0.8);
    font-weight: bold;
}

.DonationSubText p {
    font-size: 14px;
    color: rgba(30,30,100, 0.7);
    line-height: 30px;
}

.DonationHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid black; */
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.DonationButton {
    padding: 10px 20px;
    color: white;
    font-family: "Inter800";
    background-color: #f5cb42;
    transition: all .2s ease-in-out;
    margin-bottom: 30px;
}

.DonationButton p {
    margin: 0px;
}

a {
    text-decoration: none;
}

.DonationButton:hover {
    background-color: #fae5a1;
}

@media screen and (min-width: 392px) {
    .CharityImage {
        min-height: 400px;
    }
}




@media screen and (min-width: 660px) {
    /* .DonationHeaderText p{
        font-size: 35px;
    } */

    .CharityImage {
        height: 500px;
    }

    .DonationSubText p {
        font-size: 17px;
    }
    
}

@media screen and (min-width: 960px) {
    .DonationHeaderText p{
        font-size: 35px;
    }

    .DonationSubText p {
        font-size: 17px;
    }
    
    .DonationText {
        grid-template-columns: 39fr 61fr;
    }
    
}

@media screen and (min-width: 1200px) {
    .DonationHeaderText p{
        font-size: 45px;
    }

    .DonationSubText p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1600px) {
    .DonationHeaderText p{
        font-size: 55px;
    }

    .DonationSubText p {
        font-size: 18px;
    }
}