.App {
  text-align: center;
  font-family: 'Lato',"CG";
}

@font-face {
  font-family: 'LatoTwoBold';
  src: local('Lato'), url(./assets/fonts/Lato-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./assets/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CG';
  src: local('CG'), url(./assets/fonts/CenturyGothicRegular.ttf) format('truetype');
}
