/* .ToolBar {
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.TabElement {
    font-size: 20px;
    font-family: 'ProductSans';
} */

.ToolBarHolder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding-top: 20px; */
    position: fixed;
    width: 100%;
    z-index: 500;
    /* background-image: url(../../assets/images/HHToolbar.svg); */
    background-position: center;
    background-size: cover;
    /* height: 100px;/ */
}

.ToolBar {
    /* background-color: rgba(42, 15, 146, 1); */
    /* background-color: transparent; */
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
    width: 100%;
    transition: all .2s ease-in-out;
    
}

.ToolbarBrand {
    height: 70px;
    width: 70px;
    /* background-image: url(../../../assets/images/StudyBuddyLogo5.png); */
    background-size: cover;
    background-position: center;
}

.ToolBarPages {
    display: flex;
}

.ToolBarPage {
    margin: 0px 20px;
    /* border: 3px solid black; */
}

.ToolBarPage p{
    margin: 0px;
    font-size: 25px;
    color: #ffffff;
    /* font-weight: bold; */
    text-decoration: none;
    font-family: "Inter600";
}