.MemberHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.MemberPointsHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.MemberPoints {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    width: 100%;
    max-width: 1400px;
    margin: 70px 0px;
}

.MemberPoint {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

.MemberPointImage {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
}

#educateimg {
    background-image: url(../../../assets/images/EducationIso.svg);
}

#awareimg {
    background-image: url(../../../assets/images/AwareIso.svg);
}

#fundraiseimg {
    background-image: url(../../../assets/images/FundraiseIso.svg);
}

.MemberPointTitle {
    font-size: 28px;
}

.MemberSubHeaderText p {
    font-size: 18px;
    font-family: "Inter400";
    color: #717d86;
    line-height: 30px;
    max-width: 660px;
}

.MemberEmphasized {
    font-family: "Inter800";
}

.MemberTitle {
    font-size: 40px;
    /* color: #000000; */
    font-family: "Inter700";
    padding-top: 30px;
}

.MemberTitle p {
    margin: 0px;
}

.MemberSocialIconHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MemberSocialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    width: 100%;
    max-width: 200px;
}

.MemberSocialIcon {
    /* border: 3px solid black; */
    font-size: 25px;
    color: #e3493b;
}

.MemberSocialIcon:hover {
    color: #f1a49d;
    cursor: pointer;
}

.MemberButton {
    padding: 10px 20px;
    color: white;
    font-family: "Inter800";
    background-color: #e3493b;
    transition: all .2s ease-in-out;
}

.MemberButton:hover {
    background-color: #f1a49d;
    cursor: pointer;
}

.MemberButton p {
    margin: 0px;
}


@media screen and (min-width: 660px) {

    .MemberPointImage {
        height: 200px;
    }
    
}

@media screen and (min-width: 720px) {
    .MemberPoints {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (min-width: 960px) {

    .MemberPointImage {
        height: 250px;
    }
    
}

@media screen and (min-width: 1200px) {

    .MemberPointImage {
        height: 300px;
    }
}