
.BlogPage {
    padding: 100px 20px;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-columns: 6fr 2fr;
    grid-template-areas:
    "boxa boxb";
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 120px 50px;


    /* gap: 75px; */
}

p{
  font-weight: 100;
}
b{
  color: #00aeff;
}

.BlogPage p {
    /* font-weight: normal; */
    margin: 30px;
    text-align: left;
}

.blog{
  grid-column: boxa;
  box-shadow: 0px 0px 30px #eeeeee;
}

.BlogHeaderText{
  display: inline-block;
  padding: 8px 10px;
  width: min-width;

}

.AuthorCard{
  grid-column: boxb;
  box-shadow: 0px 0px 30px #eeeeee;
  height: min-content;
}

.ProfPic{
  background-image: url(../../assets/images/person_8x10.png);
  width: 250px;
	height: 250px;
  background-position: center;
	border-radius: 125px;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.Author{
  font-size: 2em;
  margin: 0 auto;
  padding-top: 20px;

}

a{
  color: #00aeff;

}

.referencesHolder{
  align-items: left;
  text-align: left;

}

li{
  margin: 10px 0;
}

.Summary{
  margin:10px;
  padding: 10px;
}






.bloghead{
  color: black;
  font-size: 3em;
}

/* .footer{
  background-color: purple;
  padding: .01em;
  border-radius: 25px 25px 0px 0px;
} */

.footer-text{
  color: black;
}

@media screen and (max-width: 660px) {
  .Cards{
    grid-template-columns: 1fr;
    grid-gap: 4em;
  }

}

@media screen and (max-width: 960px) {
  .BlogPage{
    grid-template-columns: 1fr;
    grid-template-areas:
    "boxa";

  }

  .blog{
    grid-area: auto;
  }

  .AuthorCard{
    grid-area: auto;
  }

}

@media screen and (min-width: 1200px) {


}

@media screen and (min-width: 1600px) {

}
